<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1>
            </li>
            <p>
                Primario y secundario completo en el Colegio Parroquial San Ramon Nonato en la ciudad de Cordoba
            </p>
        </ul>
        <ul>
            <li>
                <h1> Estudio 2</h1>
                <p>
                    Actualemente en segundo año de ingenieria en sistemas de la Universidad Tecnologica Nacional Facultad Regional Cordoba (UTNFRC)
                </p>
            </li>
        </ul>
    </div>
</div>
